/**********************************************************************************************************************************
 **********************************************************************************************************************************
 **********************************************************************************************************************************
    griid v2.5

    The greedy grid that tries to do it all with LESS
   
    by Henry Bley-Vroman
    MIT license
    olets.github.io/griid/


  an easy-to-use grid system which supports three grid types:
  - single full-width single-row grids with cells of equal width;
  - multi-row grids with a specified number of equal-width columns;-
  - and multi-row grids with fraction-of-the-grid-width cell widths specified per-cell.
  In the latter two cases, if the last row of the grid isn't filled its cells will be center aligned

   by Henry Bley-Vroman,
   2016, MIT License.
   
   Relies on nth-child, so does not work on IE below 9

*/

[class*='griid'] {
  display: table;
  width: 100%;
  font-size: 0;
  text-align: left;
}
[class*='griid'] > [class*='cell'] {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  text-align: left;
  font-size: 1rem;
}
[class*='griid'] > [class*='cell']:last-child {
  margin-right: 0 !important;
}
[class*='griid'] > [class*='cell'] img {
  max-width: 100%;
}
.griid {
  table-layout: fixed;
}
.griid > .row {
  display: table-row;
}
.griid > .row > .cell {
  font-size: 1rem;
}
.griid > .cell,
.griid > .row > .cell {
  display: table-cell;
  width: 1%;
  border-right: 0 solid transparent;
}
.griid-2 > .cell {
  width: calc(99.99999% / 2);
}
.griid-2 > .cell:nth-child(n) {
  margin-right: 0;
}
.griid-2 > .cell:nth-child(2n) {
  margin-right: 0;
}
.griid-3 > .cell {
  width: calc(99.99999% / 3);
}
.griid-3 > .cell:nth-child(n) {
  margin-right: 0;
}
.griid-3 > .cell:nth-child(3n) {
  margin-right: 0;
}
.griid-4 > .cell {
  width: calc(99.99999% / 4);
}
.griid-4 > .cell:nth-child(n) {
  margin-right: 0;
}
.griid-4 > .cell:nth-child(4n) {
  margin-right: 0;
}
.griid-5 > .cell {
  width: calc(99.99999% / 5);
}
.griid-5 > .cell:nth-child(n) {
  margin-right: 0;
}
.griid-5 > .cell:nth-child(5n) {
  margin-right: 0;
}
.griid-6 > .cell {
  width: calc(99.99999% / 6);
}
.griid-6 > .cell:nth-child(n) {
  margin-right: 0;
}
.griid-6 > .cell:nth-child(6n) {
  margin-right: 0;
}
[class*='griid'] > [class*='cell'].row-end {
  margin-right: 0;
}
.cell-1-1,
.cell-full {
  width: 99.99999%;
}
.cell-1-2 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.cell-1-3 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.cell-2-3 {
  margin-right: 0;
  width: calc(99.99999% / 1.5);
}
.cell-1-4 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.cell-2-4 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.cell-3-4 {
  margin-right: 0;
  width: calc(99.99999% / 1.3333333333333333);
}
.cell-1-5 {
  margin-right: 0;
  width: calc(99.99999% / 5);
}
.cell-2-5 {
  margin-right: 0;
  width: calc(99.99999% / 2.5);
}
.cell-3-5 {
  margin-right: 0;
  width: calc(99.99999% / 1.6666666666666667);
}
.cell-4-5 {
  margin-right: 0;
  width: calc(99.99999% / 1.25);
}
.cell-1-6 {
  margin-right: 0;
  width: calc(99.99999% / 6);
}
.cell-2-6 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.cell-3-6 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.cell-4-6 {
  margin-right: 0;
  width: calc(99.99999% / 1.5);
}
.cell-5-6 {
  margin-right: 0;
  width: calc(99.99999% / 1.2);
}
.top[class*='griid'] > [class*='cell'],
[class*='griid'] > [class*='cell'].top {
  vertical-align: top;
}
.middle[class*='griid'] > [class*='cell'],
[class*='griid'] > [class*='cell'].middle {
  vertical-align: middle;
}
.bottom[class*='griid'] > [class*='cell'],
[class*='griid'] > [class*='cell'].bottom {
  vertical-align: bottom;
}
[class*='griid'].left,
[class*='griid'] > [class*='cell'].left {
  text-align: left;
}
[class*='griid'].center,
[class*='griid'] > [class*='cell'].center {
  text-align: center;
}
[class*='griid'].right,
[class*='griid'] > [class*='cell'].right {
  text-align: right;
}