#tests [class*='griid'] {
	margin-bottom: 20px;
}

#tests [class*='cell'] {
	background: #39c;
	color: #fff;
	outline: 1px solid pink;
	padding: 10px 0;
}

a {
	color: inherit;
	text-decoration: none;
}
li {
	color: green
}
li.broken {
	color: red
}

/*
.working:before, .broken:before {
	content: '';
	display: inline-block;
	margin-right: 20px;
	height: 20px;
	width: 20px;
	border-radius: 999px;
	background: green
}
.broken:before {
	background: red
}*/

#tests h4, #tests h5 {
	margin-bottom: 0;
	color: green
}
#tests h4 {
	margin-top: 40px;
}
#tests h5 {
	text-transform: uppercase;
}
#tests h4.broken, #tests h5.broken {
	color: red
}

/* every transformation */
/*
.griid--install;
.griid--inline-alignment();
.grid-top {.griid--top}
.grid-middle {.griid--middle}
.grid-bottom {.griid--bottom}
.grid-left {.griid--left}
.grid-center {.griid--center}
.grid-right {.griid--right}
.grid-resize-row{.griid--resize-row}
.grid-resize-row--3--{.griid--resize-row(3)}
.grid-resize-one-unequal--1---3-- {.griid--resize-one-unequal(1, 3)}
.grid-resize-one-unequal--1---4---2---3-- {.griid--resize-one-unequal(1, 4, 2, 3)}
.grid-resize-unequal {.griid--resize-unequal}
.grid-resize-unequal--1---3-- {.griid--resize-unequal(1, 3)}
.grid-resize-unequal--1---4---1---3-- {.griid--resize-unequal(1, 4, 1, 3)}
.grid-resize-one-equal--3-- {.griid--resize-one-equal(3)}
.grid-resize-one-equal--4---3-- {.griid--resize-one-equal(4, 3)}
.grid-resize-equal {.griid--resize-equal}
.grid-resize-equal--3-- {.griid--resize-equal(3)}
.grid-resize-equal--3---4-- {.griid--resize-equal(3, 4)}
.grid-resize-equal--3---4---5-- {.griid--resize-equal(3, 4, 5)}
.grid-drop-one--4-- {.griid--drop-one(4)}
.grid-drop-one--2---4-- {.griid--drop-one(2, 4)}
.grid-drop {.griid--drop}
.grid-drop--2-- {.griid--drop(2)}
.grid-drop--2---4-- {.griid--drop(2, 4)}
.grid-drop--2---4---5-- {.griid--drop(2, 4, 5)}
.grid-row {.griid--row}
.grid-resize {.griid--resize}
.grid-resize--4-- {.griid--resize(4)}
*/

.grid-top [class*='griid'] > [class*='cell'],
.grid-top[class*='griid'] > [class*='cell'] {
  vertical-align: top;
}
.grid-middle [class*='griid'] > [class*='cell'],
.grid-middle[class*='griid'] > [class*='cell'] {
  vertical-align: middle;
}
.grid-bottom [class*='griid'] > [class*='cell'],
.grid-bottom[class*='griid'] > [class*='cell'] {
  vertical-align: bottom;
}
.grid-left [class*='griid'],
.grid-left[class*='griid'] {
  text-align: left;
}
.grid-center [class*='griid'],
.grid-center[class*='griid'] {
  text-align: center;
}
.grid-right [class*='griid'],
.grid-right[class*='griid'] {
  text-align: right;
}
.top[class*='griid'] > [class*='cell'],
[class*='griid'] > [class*='cell'].top {
  vertical-align: top;
}
.middle[class*='griid'] > [class*='cell'],
[class*='griid'] > [class*='cell'].middle {
  vertical-align: middle;
}
.bottom[class*='griid'] > [class*='cell'],
[class*='griid'] > [class*='cell'].bottom {
  vertical-align: bottom;
}
[class*='griid'].left,
[class*='griid'] > [class*='cell'].left {
  text-align: left;
}
[class*='griid'].center,
[class*='griid'] > [class*='cell'].center {
  text-align: center;
}
[class*='griid'].right,
[class*='griid'] > [class*='cell'].right {
  text-align: right;
}
.grid-resize-row .griid > .cell,
.grid-resize-row.griid > .cell {
  width: 99.99999%;
  display: inline-block;
}
.grid-resize-row--3-- .griid > .cell,
.grid-resize-row--3--.griid > .cell {
  width: calc(99.99999% / 3);
  display: inline-block;
}
.grid-resize-row--3-- .griid > .cell:nth-child(n),
.grid-resize-row--3--.griid > .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-row--3-- .griid > .cell:nth-child(3n),
.grid-resize-row--3--.griid > .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-one-unequal--1---4---2---3-- .griid .cell-2-3,
.grid-resize-one-unequal--1---4---2---3--.griid .cell-2-3 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize-unequal .griid .cell-1-1,
.grid-resize-unequal.griid .cell-1-1 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-1-2,
.grid-resize-unequal.griid .cell-1-2 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-2-2,
.grid-resize-unequal.griid .cell-2-2 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-1-3,
.grid-resize-unequal.griid .cell-1-3 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-2-3,
.grid-resize-unequal.griid .cell-2-3 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-3-3,
.grid-resize-unequal.griid .cell-3-3 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-1-4,
.grid-resize-unequal.griid .cell-1-4 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-2-4,
.grid-resize-unequal.griid .cell-2-4 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-3-4,
.grid-resize-unequal.griid .cell-3-4 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-4-4,
.grid-resize-unequal.griid .cell-4-4 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-1-5,
.grid-resize-unequal.griid .cell-1-5 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-2-5,
.grid-resize-unequal.griid .cell-2-5 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-3-5,
.grid-resize-unequal.griid .cell-3-5 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-4-5,
.grid-resize-unequal.griid .cell-4-5 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-5-5,
.grid-resize-unequal.griid .cell-5-5 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-1-6,
.grid-resize-unequal.griid .cell-1-6 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-2-6,
.grid-resize-unequal.griid .cell-2-6 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-3-6,
.grid-resize-unequal.griid .cell-3-6 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-4-6,
.grid-resize-unequal.griid .cell-4-6 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-5-6,
.grid-resize-unequal.griid .cell-5-6 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal .griid .cell-6-6,
.grid-resize-unequal.griid .cell-6-6 {
  margin-right: 0;
  width: calc(99.99999% / 2);
}
.grid-resize-unequal--1---3-- .griid .cell-1-1,
.grid-resize-unequal--1---3--.griid .cell-1-1 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-1-2,
.grid-resize-unequal--1---3--.griid .cell-1-2 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-2-2,
.grid-resize-unequal--1---3--.griid .cell-2-2 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-1-3,
.grid-resize-unequal--1---3--.griid .cell-1-3 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-2-3,
.grid-resize-unequal--1---3--.griid .cell-2-3 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-3-3,
.grid-resize-unequal--1---3--.griid .cell-3-3 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-1-4,
.grid-resize-unequal--1---3--.griid .cell-1-4 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-2-4,
.grid-resize-unequal--1---3--.griid .cell-2-4 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-3-4,
.grid-resize-unequal--1---3--.griid .cell-3-4 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-4-4,
.grid-resize-unequal--1---3--.griid .cell-4-4 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-1-5,
.grid-resize-unequal--1---3--.griid .cell-1-5 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-2-5,
.grid-resize-unequal--1---3--.griid .cell-2-5 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-3-5,
.grid-resize-unequal--1---3--.griid .cell-3-5 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-4-5,
.grid-resize-unequal--1---3--.griid .cell-4-5 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-5-5,
.grid-resize-unequal--1---3--.griid .cell-5-5 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-1-6,
.grid-resize-unequal--1---3--.griid .cell-1-6 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-2-6,
.grid-resize-unequal--1---3--.griid .cell-2-6 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-3-6,
.grid-resize-unequal--1---3--.griid .cell-3-6 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-4-6,
.grid-resize-unequal--1---3--.griid .cell-4-6 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-5-6,
.grid-resize-unequal--1---3--.griid .cell-5-6 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---3-- .griid .cell-6-6,
.grid-resize-unequal--1---3--.griid .cell-6-6 {
  margin-right: 0;
  width: calc(99.99999% / 3);
}
.grid-resize-unequal--1---4---1---3-- .griid .cell-1-3,
.grid-resize-unequal--1---4---1---3--.griid .cell-1-3 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize-unequal--1---4---1---3-- .griid .cell-1-4,
.grid-resize-unequal--1---4---1---3--.griid .cell-1-4 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize-unequal--1---4---1---3-- .griid .cell-1-5,
.grid-resize-unequal--1---4---1---3--.griid .cell-1-5 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize-unequal--1---4---1---3-- .griid .cell-1-6,
.grid-resize-unequal--1---4---1---3--.griid .cell-1-6 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize-unequal--1---4---1---3-- .griid .cell-2-6,
.grid-resize-unequal--1---4---1---3--.griid .cell-2-6 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize-one-equal--3-- .griid-3 .cell,
.grid-resize-one-equal--3--.griid-3 .cell {
  width: 99.99999%;
}
.grid-resize-one-equal--4---3-- .griid-3 .cell,
.grid-resize-one-equal--4---3--.griid-3 .cell {
  width: calc(99.99999% / 4);
}
.grid-resize-one-equal--4---3-- .griid-3 .cell:nth-child(n),
.grid-resize-one-equal--4---3--.griid-3 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-one-equal--4---3-- .griid-3 .cell:nth-child(4n),
.grid-resize-one-equal--4---3--.griid-3 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-resize-equal .griid-2 .cell,
.grid-resize-equal.griid-2 .cell {
  width: 99.99999%;
}
.grid-resize-equal .griid-3 .cell,
.grid-resize-equal.griid-3 .cell {
  width: 99.99999%;
}
.grid-resize-equal .griid-4 .cell,
.grid-resize-equal.griid-4 .cell {
  width: 99.99999%;
}
.grid-resize-equal .griid-5 .cell,
.grid-resize-equal.griid-5 .cell {
  width: 99.99999%;
}
.grid-resize-equal .griid-6 .cell,
.grid-resize-equal.griid-6 .cell {
  width: 99.99999%;
}
.grid-resize-equal--3-- .griid-2 .cell,
.grid-resize-equal--3--.griid-2 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3-- .griid-2 .cell:nth-child(n),
.grid-resize-equal--3--.griid-2 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3-- .griid-2 .cell:nth-child(3n),
.grid-resize-equal--3--.griid-2 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-equal--3-- .griid-3 .cell,
.grid-resize-equal--3--.griid-3 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3-- .griid-3 .cell:nth-child(n),
.grid-resize-equal--3--.griid-3 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3-- .griid-3 .cell:nth-child(3n),
.grid-resize-equal--3--.griid-3 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-equal--3-- .griid-4 .cell,
.grid-resize-equal--3--.griid-4 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3-- .griid-4 .cell:nth-child(n),
.grid-resize-equal--3--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3-- .griid-4 .cell:nth-child(3n),
.grid-resize-equal--3--.griid-4 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-equal--3-- .griid-5 .cell,
.grid-resize-equal--3--.griid-5 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3-- .griid-5 .cell:nth-child(n),
.grid-resize-equal--3--.griid-5 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3-- .griid-5 .cell:nth-child(3n),
.grid-resize-equal--3--.griid-5 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-equal--3-- .griid-6 .cell,
.grid-resize-equal--3--.griid-6 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3-- .griid-6 .cell:nth-child(n),
.grid-resize-equal--3--.griid-6 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3-- .griid-6 .cell:nth-child(3n),
.grid-resize-equal--3--.griid-6 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-equal--3---4-- .griid-4 .cell,
.grid-resize-equal--3---4--.griid-4 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3---4-- .griid-4 .cell:nth-child(n),
.grid-resize-equal--3---4--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3---4-- .griid-4 .cell:nth-child(3n),
.grid-resize-equal--3---4--.griid-4 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-equal--3---4-- .griid-5 .cell,
.grid-resize-equal--3---4--.griid-5 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3---4-- .griid-5 .cell:nth-child(n),
.grid-resize-equal--3---4--.griid-5 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3---4-- .griid-5 .cell:nth-child(3n),
.grid-resize-equal--3---4--.griid-5 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-equal--3---4-- .griid-6 .cell,
.grid-resize-equal--3---4--.griid-6 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3---4-- .griid-6 .cell:nth-child(n),
.grid-resize-equal--3---4--.griid-6 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3---4-- .griid-6 .cell:nth-child(3n),
.grid-resize-equal--3---4--.griid-6 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-equal--3---4---5-- .griid-4 .cell,
.grid-resize-equal--3---4---5--.griid-4 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3---4---5-- .griid-4 .cell:nth-child(n),
.grid-resize-equal--3---4---5--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3---4---5-- .griid-4 .cell:nth-child(3n),
.grid-resize-equal--3---4---5--.griid-4 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-resize-equal--3---4---5-- .griid-5 .cell,
.grid-resize-equal--3---4---5--.griid-5 .cell {
  width: calc(99.99999% / 3);
}
.grid-resize-equal--3---4---5-- .griid-5 .cell:nth-child(n),
.grid-resize-equal--3---4---5--.griid-5 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize-equal--3---4---5-- .griid-5 .cell:nth-child(3n),
.grid-resize-equal--3---4---5--.griid-5 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-drop-one--4-- .griid-4 .cell,
.grid-drop-one--4--.griid-4 .cell {
  width: calc(99.99999% / 3);
}
.grid-drop-one--4-- .griid-4 .cell:nth-child(n),
.grid-drop-one--4--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop-one--4-- .griid-4 .cell:nth-child(3n),
.grid-drop-one--4--.griid-4 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-drop-one--2---4-- .griid-4 .cell,
.grid-drop-one--2---4--.griid-4 .cell {
  width: calc(99.99999% / 2);
}
.grid-drop-one--2---4-- .griid-4 .cell:nth-child(n),
.grid-drop-one--2---4--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop-one--2---4-- .griid-4 .cell:nth-child(2n),
.grid-drop-one--2---4--.griid-4 .cell:nth-child(2n) {
  margin-right: 0;
}
.grid-drop .griid-2 .cell,
.grid-drop.griid-2 .cell {
  width: 99.99999%;
}
.grid-drop .griid-3 .cell,
.grid-drop.griid-3 .cell {
  width: calc(99.99999% / 2);
}
.grid-drop .griid-3 .cell:nth-child(n),
.grid-drop.griid-3 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop .griid-3 .cell:nth-child(2n),
.grid-drop.griid-3 .cell:nth-child(2n) {
  margin-right: 0;
}
.grid-drop .griid-4 .cell,
.grid-drop.griid-4 .cell {
  width: calc(99.99999% / 3);
}
.grid-drop .griid-4 .cell:nth-child(n),
.grid-drop.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop .griid-4 .cell:nth-child(3n),
.grid-drop.griid-4 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-drop .griid-5 .cell,
.grid-drop.griid-5 .cell {
  width: calc(99.99999% / 4);
}
.grid-drop .griid-5 .cell:nth-child(n),
.grid-drop.griid-5 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop .griid-5 .cell:nth-child(4n),
.grid-drop.griid-5 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-drop .griid-6 .cell,
.grid-drop.griid-6 .cell {
  width: calc(99.99999% / 5);
}
.grid-drop .griid-6 .cell:nth-child(n),
.grid-drop.griid-6 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop .griid-6 .cell:nth-child(5n),
.grid-drop.griid-6 .cell:nth-child(5n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-2 .cell,
.grid-drop--2--.griid-2 .cell {
  width: 99.99999%;
}
.grid-drop--2-- .griid-3 .cell,
.grid-drop--2--.griid-3 .cell {
  width: 99.99999%;
}
.grid-drop--2-- .griid-4 .cell,
.grid-drop--2--.griid-4 .cell {
  width: calc(99.99999% / 2);
}
.grid-drop--2-- .griid-4 .cell:nth-child(n),
.grid-drop--2--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-4 .cell:nth-child(2n),
.grid-drop--2--.griid-4 .cell:nth-child(2n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-5 .cell,
.grid-drop--2--.griid-5 .cell {
  width: calc(99.99999% / 3);
}
.grid-drop--2-- .griid-5 .cell:nth-child(n),
.grid-drop--2--.griid-5 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-5 .cell:nth-child(3n),
.grid-drop--2--.griid-5 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-6 .cell,
.grid-drop--2--.griid-6 .cell {
  width: calc(99.99999% / 4);
}
.grid-drop--2-- .griid-6 .cell:nth-child(n),
.grid-drop--2--.griid-6 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-6 .cell:nth-child(4n),
.grid-drop--2--.griid-6 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-2 .cell,
.grid-drop--2--.griid-2 .cell {
  width: 99.99999%;
}
.grid-drop--2-- .griid-3 .cell,
.grid-drop--2--.griid-3 .cell {
  width: 99.99999%;
}
.grid-drop--2-- .griid-4 .cell,
.grid-drop--2--.griid-4 .cell {
  width: calc(99.99999% / 2);
}
.grid-drop--2-- .griid-4 .cell:nth-child(n),
.grid-drop--2--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-4 .cell:nth-child(2n),
.grid-drop--2--.griid-4 .cell:nth-child(2n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-5 .cell,
.grid-drop--2--.griid-5 .cell {
  width: calc(99.99999% / 3);
}
.grid-drop--2-- .griid-5 .cell:nth-child(n),
.grid-drop--2--.griid-5 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-5 .cell:nth-child(3n),
.grid-drop--2--.griid-5 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-6 .cell,
.grid-drop--2--.griid-6 .cell {
  width: calc(99.99999% / 4);
}
.grid-drop--2-- .griid-6 .cell:nth-child(n),
.grid-drop--2--.griid-6 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2-- .griid-6 .cell:nth-child(4n),
.grid-drop--2--.griid-6 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-drop--2---4-- .griid-4 .cell,
.grid-drop--2---4--.griid-4 .cell {
  width: calc(99.99999% / 2);
}
.grid-drop--2---4-- .griid-4 .cell:nth-child(n),
.grid-drop--2---4--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2---4-- .griid-4 .cell:nth-child(2n),
.grid-drop--2---4--.griid-4 .cell:nth-child(2n) {
  margin-right: 0;
}
.grid-drop--2---4-- .griid-5 .cell,
.grid-drop--2---4--.griid-5 .cell {
  width: calc(99.99999% / 3);
}
.grid-drop--2---4-- .griid-5 .cell:nth-child(n),
.grid-drop--2---4--.griid-5 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2---4-- .griid-5 .cell:nth-child(3n),
.grid-drop--2---4--.griid-5 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-drop--2---4-- .griid-6 .cell,
.grid-drop--2---4--.griid-6 .cell {
  width: calc(99.99999% / 4);
}
.grid-drop--2---4-- .griid-6 .cell:nth-child(n),
.grid-drop--2---4--.griid-6 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2---4-- .griid-6 .cell:nth-child(4n),
.grid-drop--2---4--.griid-6 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-drop--2---4---5-- .griid-4 .cell,
.grid-drop--2---4---5--.griid-4 .cell {
  width: calc(99.99999% / 2);
}
.grid-drop--2---4---5-- .griid-4 .cell:nth-child(n),
.grid-drop--2---4---5--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2---4---5-- .griid-4 .cell:nth-child(2n),
.grid-drop--2---4---5--.griid-4 .cell:nth-child(2n) {
  margin-right: 0;
}
.grid-drop--2---4---5-- .griid-5 .cell,
.grid-drop--2---4---5--.griid-5 .cell {
  width: calc(99.99999% / 3);
}
.grid-drop--2---4---5-- .griid-5 .cell:nth-child(n),
.grid-drop--2---4---5--.griid-5 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-drop--2---4---5-- .griid-5 .cell:nth-child(3n),
.grid-drop--2---4---5--.griid-5 .cell:nth-child(3n) {
  margin-right: 0;
}
.grid-row [class*='griid'] > [class*='cell'],
.grid-row[class*='griid'] > [class*='cell'] {
  display: table-cell;
  width: 1%;
}
.grid-resize .griid-2 .cell,
.grid-resize.griid-2 .cell {
  width: 99.99999%;
}
.grid-resize .griid-3 .cell,
.grid-resize.griid-3 .cell {
  width: 99.99999%;
}
.grid-resize .griid-4 .cell,
.grid-resize.griid-4 .cell {
  width: 99.99999%;
}
.grid-resize .griid-5 .cell,
.grid-resize.griid-5 .cell {
  width: 99.99999%;
}
.grid-resize .griid-6 .cell,
.grid-resize.griid-6 .cell {
  width: 99.99999%;
}
.grid-resize .griid .cell-1-1,
.grid-resize.griid .cell-1-1 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-1-2,
.grid-resize.griid .cell-1-2 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-2-2,
.grid-resize.griid .cell-2-2 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-1-3,
.grid-resize.griid .cell-1-3 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-2-3,
.grid-resize.griid .cell-2-3 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-3-3,
.grid-resize.griid .cell-3-3 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-1-4,
.grid-resize.griid .cell-1-4 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-2-4,
.grid-resize.griid .cell-2-4 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-3-4,
.grid-resize.griid .cell-3-4 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-4-4,
.grid-resize.griid .cell-4-4 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-1-5,
.grid-resize.griid .cell-1-5 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-2-5,
.grid-resize.griid .cell-2-5 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-3-5,
.grid-resize.griid .cell-3-5 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-4-5,
.grid-resize.griid .cell-4-5 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-5-5,
.grid-resize.griid .cell-5-5 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-1-6,
.grid-resize.griid .cell-1-6 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-2-6,
.grid-resize.griid .cell-2-6 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-3-6,
.grid-resize.griid .cell-3-6 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-4-6,
.grid-resize.griid .cell-4-6 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-5-6,
.grid-resize.griid .cell-5-6 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid .cell-6-6,
.grid-resize.griid .cell-6-6 {
  margin-right: 0;
  width: calc(99.99999% / 1);
}
.grid-resize .griid > .cell,
.grid-resize.griid > .cell {
  width: 99.99999%;
  display: inline-block;
}
.grid-resize--4-- .griid-2 .cell,
.grid-resize--4--.griid-2 .cell {
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid-2 .cell:nth-child(n),
.grid-resize--4--.griid-2 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize--4-- .griid-2 .cell:nth-child(4n),
.grid-resize--4--.griid-2 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-resize--4-- .griid-3 .cell,
.grid-resize--4--.griid-3 .cell {
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid-3 .cell:nth-child(n),
.grid-resize--4--.griid-3 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize--4-- .griid-3 .cell:nth-child(4n),
.grid-resize--4--.griid-3 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-resize--4-- .griid-4 .cell,
.grid-resize--4--.griid-4 .cell {
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid-4 .cell:nth-child(n),
.grid-resize--4--.griid-4 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize--4-- .griid-4 .cell:nth-child(4n),
.grid-resize--4--.griid-4 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-resize--4-- .griid-5 .cell,
.grid-resize--4--.griid-5 .cell {
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid-5 .cell:nth-child(n),
.grid-resize--4--.griid-5 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize--4-- .griid-5 .cell:nth-child(4n),
.grid-resize--4--.griid-5 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-resize--4-- .griid-6 .cell,
.grid-resize--4--.griid-6 .cell {
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid-6 .cell:nth-child(n),
.grid-resize--4--.griid-6 .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize--4-- .griid-6 .cell:nth-child(4n),
.grid-resize--4--.griid-6 .cell:nth-child(4n) {
  margin-right: 0;
}
.grid-resize--4-- .griid .cell-1-1,
.grid-resize--4--.griid .cell-1-1 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-1-2,
.grid-resize--4--.griid .cell-1-2 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-2-2,
.grid-resize--4--.griid .cell-2-2 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-1-3,
.grid-resize--4--.griid .cell-1-3 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-2-3,
.grid-resize--4--.griid .cell-2-3 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-3-3,
.grid-resize--4--.griid .cell-3-3 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-1-4,
.grid-resize--4--.griid .cell-1-4 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-2-4,
.grid-resize--4--.griid .cell-2-4 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-3-4,
.grid-resize--4--.griid .cell-3-4 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-4-4,
.grid-resize--4--.griid .cell-4-4 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-1-5,
.grid-resize--4--.griid .cell-1-5 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-2-5,
.grid-resize--4--.griid .cell-2-5 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-3-5,
.grid-resize--4--.griid .cell-3-5 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-4-5,
.grid-resize--4--.griid .cell-4-5 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-5-5,
.grid-resize--4--.griid .cell-5-5 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-1-6,
.grid-resize--4--.griid .cell-1-6 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-2-6,
.grid-resize--4--.griid .cell-2-6 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-3-6,
.grid-resize--4--.griid .cell-3-6 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-4-6,
.grid-resize--4--.griid .cell-4-6 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-5-6,
.grid-resize--4--.griid .cell-5-6 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid .cell-6-6,
.grid-resize--4--.griid .cell-6-6 {
  margin-right: 0;
  width: calc(99.99999% / 4);
}
.grid-resize--4-- .griid > .cell,
.grid-resize--4--.griid > .cell {
  width: calc(99.99999% / 4);
  display: inline-block;
}
.grid-resize--4-- .griid > .cell:nth-child(n),
.grid-resize--4--.griid > .cell:nth-child(n) {
  margin-right: 0;
}
.grid-resize--4-- .griid > .cell:nth-child(4n),
.grid-resize--4--.griid > .cell:nth-child(4n) {
  margin-right: 0;
}
