hr {
	height: 1px;
	background: #ccc;
	margin: 40px 0
}
:not(pre)>code {
	color: inherit;
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	padding: 2px 4px;
	border-radius: 2px;
	white-space: nowrap;
}
small {
	margin-top: 1em;
	line-height: 1.2;
	display: block;
}
small code {
	font-size: inherit;
}

/*
[class*='cell'] {
	background: #39c;
	color: #fff;
	text-align: center;
	outline: 1px solid #fff;
}
*/
.bound {
	width: 80%;
	max-width: 1440px;
	margin: 0 auto;
}

html, body {
	background: #f9f9f9;
	font-family: sans-serif;
	font-size: 16px;
}

[class*='griid'] > [class*='cell'] {
	background: #f9f9f9;
	border-radius: 10px;

}

[class*='griid'] > [class*='cell'] [class*='griid'] > [class*='cell'] {

	background: #39c;
	color: #fff;
	text-align: center;
	outline: 1px solid #fff;
	border-radius: 0;
}

section, header {
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	padding-top: 1px;
}
header {
	width: 80%;
}

hr {
	height: 1px;
	box-shadow: none;
	border: 0;
	background: #ccc;
}